@model Web.Models.Person

@{
	ViewBag.Title = "Canopy Demo";
}

<div class="form-group">
	<label class="control-label col-sm-3">First Name:</label>
	@Model.FirstName
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Last Name:</label>
	@Model.LastName
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Address:</label>
	@Model.Address
</div>
<div class="form-group">
	<label class="control-label col-sm-3">City:</label>
	@Model.City
</div>
<div class="form-group">
	<label class="control-label col-sm-3">State:</label>
	@Model.State
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Zip:</label>
	@Model.Zip
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Email:</label>
	@Model.Email
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Signed up for Newsletter:</label>
	@Model.SignUp
</div>