@model Web.Models.Person

@{
	ViewBag.Title = "Canopy Demo";
}

<div class="form-group">
	<label class="control-label col-sm-3">First Name:</label>
	<span id="FirstName">@Model.FirstName</span>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Last Name:</label>
    <span id="LastName">@Model.LastName</span>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Address:</label>
    <span id="Address">@Model.Address</span>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">City:</label>
    <span id="City">@Model.City</span>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">State:</label>
    <span id="State">@Model.State</span>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Zip:</label>
    <span id="Zip">@Model.Zip</span>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Email:</label>
    <span id="Email">@Model.Email</span>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">Signed up for Newsletter:</label>
    <span id="SignedUp">@Model.SignUp</span>
</div>